{% load static %}

<div class="question">
  <div class="row">
    <div class="col-1 disable-caret d-flex align-items-center">
      <div class="d-flex flex-column align-items-center">

        <button class="rate-button" onclick="console.log('up')">
          <object type="image/svg+xml" data="{% static 'img/rate-arrow.svg' %}" class="rate-arrow-up">

          </object>
        </button>

        <div class="fs-2 score-count">
          {% block rating %}
          {% endblock %}
        </div>

        <button class="rate-button" onclick="console.log('down')">
          <object type="image/svg+xml" data="{% static 'img/rate-arrow.svg' %}" class="rate-arrow-down">

          </object>
        </button>
      </div>

    </div>
    <div class="col-2 avatar-container">
      <div class="d-flex flex-column" style="justify-content: center; align-items: center">
        <div class="avatar">
          <img src="{% static 'img/default_avatar.jpg' %}" alt="" />
        </div>
        <div>
          username
        </div>
      </div>

    </div>

    {% block card_contents %}

    {% endblock %}
  </div>
</div>