{% extends 'base.html' %}

{% load static %}

{% block main %}
  <div>
    <h1>New questions</h1>
  </div>

  {% for question in questions %}
    <div class="question_card">
      <div class="row">
        <div class="col-1 disable-caret">
          <div class="d-flex flex-column align-items-center">

            <button class="rate-button" onclick="console.log('up')">
              <object type="image/svg+xml" data="{% static 'img/rate-arrow.svg' %}" class="rate-arrow-up">

              </object>
            </button>

            <div class="fs-2 score-count">3</div>

            <button class="rate-button" onclick="console.log('down')">
              <object type="image/svg+xml" data="{% static '/img/rate-arrow.svg' %}" class="rate-arrow-down">

              </object>
            </button>
          </div>

        </div>
        <div class="col-2 avatar-container">
          <div class="d-flex flex-column" style="justify-content: center; align-items: center">
            <div class="avatar">
              <img src="{% static  'img/defaul_avatar.jpg' %}" alt="" />
            </div>
            <div>
              username
            </div>
          </div>

        </div>
        <div class="col-9">
          <h2 class="question-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h2>
          <div class="question-text">
            {{ question.text }}
          </div>
          <div class="d-flex justify-content-around">
            <a href="{% url 'question' question.id %}">answers (3)</a>

            <div>
              Tags:

              {% for tag in question.tags %}
                <a href="{% url 'tag' tag%}">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>

    {% for page in pages %}
      <li class="page-item"><a class="page-link" href="{% url 'index-page' page %}">{{ page }}</a></li>
    {% endfor %}

    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
{% endblock %}
