<nav class="navbar navbar-expand-md bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-1" href="#">Ask</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">ask</button>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler" style="flex-grow: 0;">
        <div class="d-flex">
          <div class="avatar">
            <img src="../static/img/defaul_avatar.jpg">
          </div>

          <div class="d-flex flex-column">
            <div class="text-center">
              username
            </div>
            <div class="d-flex">
              <a class="ms-1 me-1" href="#">settings</a>
              <a class="ms-1 me-1" href="#">log out</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</nav>