{% load static %}

<nav class="navbar navbar-expand-md bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-1" href="{% url 'index' %}">AskStarling</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <a href="{% url 'ask' %}" class="btn btn-outline-success" type="submit">ask</a>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler" style="flex-grow: 0;">

        {% if authorized %}

          <div class="d-flex">
          <div class="avatar">
            <img src="{% static 'img/defaul_avatar.jpg' %}">
          </div>

          <div class="d-flex flex-column">
            <div class="text-center">
              username
            </div>
            <div class="d-flex">
              <a class="ms-1 me-1" href="{% url 'settings' %}">settings</a>
              <a class="ms-1 me-1" href="#">log out</a>
            </div>
          </div>

        </div>

        {% else %}

          <div class="d-flex">
            <a class="ms-1 me-1" href="{% url 'login' %}">log in</a>
            <a class="ms-1 me-1" href="{% url 'register' %}">register</a>
          </div>

        {% endif %}

      </div>
    </div>
</nav>