{% extends 'base.html' %}

{% load static %}

{% block main %}
  {% include 'question-card.html' %}

  <hr>

  {% for answer in answers %}
    <div class="question_card">
      {% include 'answer-card.html' %}
    </div>
  {% endfor %}

  {% include 'pagination.html' %}

  <hr>

  <form>
    <label for="answer-input" class="form-label">Enter your answer</label>
    <textarea type="text" class="form-control mb-2" id="answer-input" rows="5"></textarea>
    <button type="submit" class="btn btn-outline-success">Publish your answer</button>
  </form>

{% endblock %}