{% extends 'card.html' %}

{% block rating %}
  {{ question.rating }}
{% endblock %}

{% block username %}
  {{ question.author.username }}
{% endblock %}

{% block card_contents %}
  <div class="col-9">
    <h2 class="question-title">{{ question.title }}</h2>
    <div class="question-text">
      {{ question.text }}
    </div>
    <div class="d-flex justify-content-around">

      {% block question_footer %}
      {% endblock %}

      <div>
        {% if question.tags.all %}
        Tags:
        {% endif %}

        {% for tag in question.tags.all %}
          <a href="{% url 'tag' tag.tag_name%}">{{ tag.tag_name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}